* {
    box-sizing: border-box;
}
body {
    background-color: #222222;
    color: white;
}
a {
    text-decoration: none;
}
/*** Hamburger Menu ***/
.h_menu {
    margin: 20px 0 0 0;
    width: 40px;
    float: right;
}
.h_menu div {
    float: right;
    border: 2px solid white;
    margin: 4px;
    width: 30px;
}
/*** Grid ***/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
    float: left;
    padding: 15px 0 0 0;
    //border: 1px solid red;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title h1 {
    text-align: center;
}
.game {
    text-align: center;
    color: white;
    border: 2px solid red;
    border-radius: 10px;
    margin: 5px;
    height: 100px;
    padding: 40px 10px 0 10px;
}
.game a {color: white;}
.game:hover {
    background-color: #333333;
    border: 3px solid darkred;
}
/*** Background ***/
.mad-max {
    background-image: url("../../css/background.png");
}
.button-image {
    width: 100px;
}